body {
    font-family: 'Changa', cursive;
    background-color: #141829;
}

.navbar-img {
    width: 100%;
    height: 400px;
}

.navbar-default {
    background-color: rgba(0, 0, 0, 0.11);
    border-color: rgba(0, 0, 0, 0);
    font-weight: 500;
    position: absolute;
    width: 100%;
}

.navbar-default .navbar-brand {
    color: #ecf0f1;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ecdbff;
}

.navbar-default .navbar-text {
    color: #ecf0f1;
}

.navbar-default .navbar-nav > li > a {
    color: #ecf0f1;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ecdbff;
}

.navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.15);
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #ecf0f1;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #ecdbff;
    background-color: rgba(0, 0, 0, 0.2);
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
    background-color: #000000;
}

.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ecdbff;
    background-color: #000000;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ecdbff;
    background-color: rgba(0, 0, 0, 0.17);
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ecdbff;
    background-color: #000000;
}

.navbar-default .navbar-toggle {
    border-color: #000000;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #000000;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ecf0f1;
}

.navbar-default .navbar-link {
    color: #ecf0f1;
}

.navbar-default .navbar-link:hover {
    color: #ecdbff;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ecdbff;
    background-color: rgba(0, 0, 0, 0.3);
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ecf0f1;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ecdbff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ecdbff;
        background-color: #000000;
    }
}

.row {
    margin: 5%;
}

.footer-right a i {
    transform: translate(0px, 7px);
}

.thumbnail {
    background: transparent;
    color: #e8e8e8;
    border-color: #080b14;
    transition: all .5s linear;
}

.thumbnail:hover {
    background-color: rgba(206, 206, 206, 0.1);
}

.caption h3 {
    color: rgba(236, 240, 241, 0.3);
    font-size: 15pt;
}

.caption p {
    color: rgba(236, 240, 241, 0.9);
}

.page-header {
    direction: rtl;
    padding: 10px;
    color: #ecf0f1;
}

.page-header h1 {
    font-size: 25pt;
}

.page-header small {
    font-size: 15pt;
    color: rgba(236, 240, 241, 0.7);
}

.fa .fa-users {
    width: 200%;
}

.circle-img {
    vertical-align: top;
    width: 17%;
    margin: 1%;
}

.circle-txt {
    display: inline;
    color: #ecf0f1;
    font-size: 20px;
    background-color: #080b14;
    margin-left: 20%;
}

.new-row {
    width: 70%;
    margin: auto;
    text-align: center;
    font-size: 15pt;
}

.new-thum {
    border: none;
}

.new-row div div div h3 {
    font-size: 14pt;
    color: #ecf0f1;
    background-color: #080b14;
    width: 115.5%;
    height: 5%;
    transform: translate(-6.5%, 0);
    padding: 5px;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #ecf0f1;
    margin-bottom: 5%;
}

.table {
    width: 70%;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 2%;
    color: #ecf0f1;
}

.table-buttom {
    text-align: center;
    margin-bottom: 3%;
}

.table-buttom a {
    width: 10%;
    margin: auto;
}

.btn-primary.active {
    background-color: transparent;
    transition: all .3s linear;
}

.btn-primary.active:hover {
    background-color: rgba(232, 232, 232, 0.15);
    border-color: #080b14;
}

.form-div div {
    margin: auto;
    margin-bottom: 2%;
    width: 70%;
    text-align: center;
}

.form-div div input {
    text-align: center;
    background-color: rgba(8, 11, 20, 0.3);
    color: rgba(236, 240, 241, 0.65);
}

.form-div div input:focus {
    background-color: rgba(8, 11, 20, 0.6);
    color: #ecf0f1;
}

.form-div h2,
h3 {
    text-align: center;
    color: #ecf0f1;
}

.btn-default {
    color: #ecf0f1;
    background-color: transparent;
    transition: all 0.3s linear;
}

.btn-default:hover {
    color: #ecf0f1;
    background-color: #000000;
}


/*
.form-div form {
width: 70%;
margin: 1%;
}

.form-div form input {
text-align: center;
background-color: transparent;
transform: translate(20%, 0);
}

.form-group {
margin: auto;
}

.btn-default {
color: #ecf0f1;
background-color: transparent;
}
*/
